---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import Servicios from '../components/servicios.astro';
import Elegirnos from '../components/elegirnos.astro';
import Galeria from '../components/galeria.astro';
import Testimonios from '../components/testimonios.astro';
import Footer from '../components/footer.astro';
---

<Layout title="DEMO - The Barber Shop | Estilo y Tradición">
	<Navbar />
	<main> 
		<Hero />
		<Elegirnos />
		<Servicios />
		<Testimonios />
		<Galeria />
	</main>
	<Footer />
</Layout>